
.introGaleria{
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.imgGaleria {
    border-radius: 1rem;
    padding: 0.4rem;
    max-width: 100%;
    height: auto;
    transition: all 0.3s ease;
    filter: grayscale(75%);

    &:hover {
        transform: scale(1.03);
        filter: grayscale(0%);
    }
}
