.logo{
    display: inline-block;
    padding-left: 1rem;
    max-width:  15%;
    max-height: 15%;
}

@media (max-width: 620px) {
    .logo {
        max-width:  10%;
        max-height: 10%;
    }
  }

@mixin texto-principal{
    font-size: 1rem;
    color:$color-fuentes;
    font-family: 'Sono', sans-serif;

}

html{

    overflow-x: hidden;
    
    h1{
        font-size: 2rem;
        font-family: 'Roboto', sans-serif;

        
        span{
            font-size: 3rem;
            font-weight: 900;
            font-family: 'Sono', sans-serif;
            position: relative;
            padding: 0 5px;
            color:$color-fuente-secundario;
                &::before{
                    content:"";
                    position:absolute;
                    height: 100%;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    background-color: $color-fuente-secundario;
                    border-radius: 8px;
                    z-index: -1;
                }
            
                    &:hover{
                        transform: scale(1.05);
                        color:$color-fuentes;
                            
                    }
        }   

    }

    header{
        background-color: $color-fondo;
    }

    main{
        background-color:$color-fondo;
        @include texto-principal;
        padding-bottom: 2rem;
    }
    
}
    

.carousel {
    padding-bottom: 10px;

    .carousel-inner{
        max-height: 30px;
        
    }
}

.hero{
    
    @include texto-principal;
    font-weight: 300;
    text-align: center;
    
    p{
        span{
        font-weight: 900;
        font-size: 2rem;
        font-family: 'Fasthand', cursive;
        position: relative;
        padding: 0 5px;
        color:$color-fuente-secundario;

        }
        
    }
}

h3 {
    color:$color-fuente-secundario;
    padding: 1rem 0 1rem 0;
    &:hover{
        transform: scale(1.05);
        color:$color-fuentes;

    }
}

footer{
    @include texto-principal;
    background-color: $color-fondo;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color:$color-fuente-secundario;
    p {
        color:$color-fuente-secundario;
    }
}
